* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_6 {
  width: 100%;
  height: 1159px;
  background: rgba(255,253,253,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_7 {
  width: 100%;
  height: 830px;
  background: url("../images/v3_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 359px;
  overflow: hidden;
}
.v3_8 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 344px;
}
